/* ==============
  Helper Classes
===================*/

.p-0 {
  padding: 0;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-r-30 {
  padding-right: 30px;
}

.m-0 {
  margin: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-38 {
  margin-bottom: 38px;
}

.m-b-62 {
  margin-bottom: 62px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.w-60 {
  width: 60px !important;
}

.m-h-50 {
  min-height: 50px;
}

.l-h-34 {
  line-height: 34px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px !important;
}

.font-32 {
  font-size: 32px;
}

.font-40 {
  font-size: 40px;
}

.font-70 {
  font-size: 70px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.no-border {
  border: none;
}

.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-0 {
  box-shadow: none !important;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

.grid-structure {
  .grid-container {
    background-color: $light5;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
}


.bg-lightpink {
  background-color: $lightpink;
}

.flex-grow-1 {
  flex: 1;
}

.flex-grow-2 {
  flex: 2;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.overflow-hidden {
  overflow: hidden;
}

#edit-schedule-section {
  display: none;
  
  .schedule-survey-input {
    color: #39446a !important;
    font-size: 16px !important;
    font-weight: bold;
  }

  label {
    font-size: 14px;
    color: #15224F !important;
    margin-bottom: 0;
  }

  .checkbox {
    label {
      // margin-bottom: 8px;
      // padding-left: 30px;

      .check {
        // width: 24px;
        // height: 24px;
        // border-radius: 6px;
        // border-color: #15224F;
        border-radius: 4px;

        &::before {
          // margin-top: -2px;
          // margin-left: 8px;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .font-md-18 {
    font-size: 18px;
  }
}