{% extends "base.html" %}

{% block head_head %}
<link href="/urora/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet"/>
{% endblock head_head %}

{% block head %}
<!-- Jquery-Ui -->
<script src="/urora/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/urora/plugins/moment/moment.js"></script>


<!-- App js -->

{% endblock head %}

{% block body %}

<div class="row">
  <div class="col-12">
    <div class="card m-b-30">
      <div class="card-body">

        <div class="row">
          <div class="col-xl-2 col-lg-3 col-md-4">

            <h4 class="m-t-5 m-b-15 font-16">Created Events</h4>
            <form class="m-t-5 m-b-20" id="add_event_form" method="post">
              <input class="form-control new-event-form" placeholder="Add new event..." type="text"/>
            </form>

            <div id='external-events'>
              <h4 class="m-b-15 font-16">Draggable Events</h4>
              <div class='fc-event'>My Event 1</div>
              <div class='fc-event'>My Event 2</div>
              <div class='fc-event'>My Event 3</div>
              <div class='fc-event'>My Event 4</div>
              <div class='fc-event'>My Event 5</div>
            </div>

            <!-- checkbox -->
            <div class="custom-control custom-checkbox mt-3">
              <input class="custom-control-input" data-parsley-mincheck="2" data-parsley-multiple="groups" id="drop-remove"
                     type="checkbox">
              <label class="custom-control-label" for="drop-remove">Remove after drop</label>
            </div>

          </div>

          <div class="col-xl-10 col-lg-9 col-md-8" id='calendar'></div>

        </div>
        <!-- end row -->

      </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->
{% endblock body %}

{% block body_foot %}
<!-- FIXME: "Uncaught TypeError: Cannot set property 'el' of undefined" in fullcaldendar -->
<script src='/urora/plugins/fullcalendar/js/fullcalendar.min.js'></script>
<script src="/urora/pages/calendar-init.js"></script>
{% endblock body_foot %}
