{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block body %}
<center>
  <div style="max-width: 50vh">

  </div>
  <p><img src="/images/lock-refresh.svg"></p>
  <p>We'll send you a single-use login-bypass link via email &amp; text message.
    Click it to login and change your password.
  </p>
  <form action="/do_forgot_password" id="forgot_frm" method="POST">
    <input form="forgot_frm" id="csrf" name="csrf" type="hidden" value="{{csrf}}">
    <input form="forgot_frm" id="user_email_phone" name="user_email_phone" type="text" size="28"
           placeholder="Username, Email, or Phone #">
    <input type="submit" name="submit" value="request link">
  </form>
</center>
{% endblock body %}

