{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block body %}

<!-- Begin page -->
<!--<div class="accountbg"></div>-->
<div class="wrapper-page">
  <div class="display-table">
    <div class="display-table-cell">
      <diV class="container">
        <div class="row">
          <div class="col-md-3">
<!--            <img src="/images/businessman-surfing.png" alt="" class="img-fluid">-->
          </div>
          <div class="col-md-6">
            <div class="card" style="border-width: 0 !important; min-height: 60vh">
              <div class="card-body">
                <center><div style="width: 50%; height: 150px; background-color: lightgrey"></div></center>
                <div class="text-center pt-3">
                  Lorem ipsum dolar...
                  <a href="index.html">
<!--                    <img src="/images/handshake_blue.png" alt="logo" />-->
                  </a>

                  <center>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a href="/register_employer" class="btn-primary button btn btn-lg">Employer Sign Up</a>
                    <p>&nbsp;</p>
                    <a href="/register_employee" class="btn-primary button btn btn-lg">Employee Sign Up</a>
                  </center>
                </div>

                <!--<div class="p-3">


                </div>-->

              </div>
            </div>

          </div>
          <div class="col-md-3"></div>
        </div>
      </diV>
    </div>
  </div>
</div>
<script src="/urora/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
{% endblock body %}
